<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Эквалайзер - О нас</title>
</head>
<body>
<section>
    <div class="containerMain">
        <div class="containerMain__block">
            <div class="containerMain__block--text">
                <h1>О нас</h1>
                <p>Наш магазин — это крупная мультиканальная сеть:
                    современные и комфортные магазины электроники, партнерские пункты выдачи заказов по всей стране и один из самых посещаемых и известнейших интернет-магазинов.
                    Чтобы быть ближе к нашим покупателям, мы сотрудничаем с крупнейшими сетями пунктов выдачи.
                    Быстрая доставка, налаженная логистика и центр распределения заказов площадью 40 000 м²
                    помогают нам быстро и качественно удовлетворять запросы покупателей из любой точки страны.</p>
                <p>Миссия нашего магазина — дарить людям возможность приобретать электронику по низким ценам с качественным обслуживанием и гарантией, потому что мы считаем, что одним из важнейших качеств хорошего магазина является высокий уровень покупательского сервиса.</p>
                <div class="containerMain__block--image"><img src="/images/team.jpg" alt="наша команда"></div>
                <h4>На нашем сайте Вы найдете:</h4>
                <ul>
                    <li>Реальные и конкурентоспособные цены;</li>
                    <li>Широчайший ассортимент товаров;</li>
                    <li>Качественные описания и изображения товаров;</li>
                    <li>Поиск товаров в магазине;</li>
                    <li>Система обратной связи;</li>
                    <li>Продажа только сертифицированных и имеющих легальное происхождение товаров;</li>
                    <li>Гарантийное обслуживание купленных у нас товаров;</li>
                    <li>Покупка товара, не выходя из дома или офиса;</li>
                    <li>Быстрое согласование товара с клиентом для подтверждения заказа;</li>
                    <li>Обмен товаров ненадлежащего качества и многое другое.</li>
                </ul>
                    <p>Мы всегда рады общению с нашими клиентами. Если у вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина - пишите нам, и мы с благодарностью примем ваше мнение во внимание:</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>