<div th:fragment="banner">
    <div class="container__banner">
        <div class="container__banner--image">
            <img src="/images/banners/banner_1.jpg" alt="баннер_1">
            <img src="/images/banners/banner_2.jpg" alt="баннер_2">
            <img src="/images/banners/banner_3.jpg" alt="баннер_3">
            <img src="/images/banners/banner_4.jpg" alt="баннер_4">
            <img src="/images/banners/banner_5.jpg" alt="баннер_5">
        </div>
        <div class="banner__buttons">
            <div class="banner__buttons--left"><a href="#"><img src="/images/picto/btn_left.png"></a></div>
            <div class="banner__buttons--right"><a href="#"><img src="/images/picto/btn_right.png"></a></div>
        </div>
    </div>
    <script src="/scripts/banner.js"></script>
</div>