<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Эквалайзер - Контакты</title>
</head>
<body>
<section>
    <div class="containerMain">
        <div class="containerMain__block">
            <div class="containerMain__block--text">
                <h1>Контакты</h1>
            </div>
            <div class="containerMain__block--pictoContainer">
            <div class="containerMain__block--picto">
                <div><img src="/images/picto/location.png" alt="адрес"></div>
                <p>г.Нижний Новгород, ул.Комсомольская, дом 10, строение 8, Бизнес центр "Сияние", этаж -1, павильон 202</p>
            </div>
            <div class="containerMain__block--picto">
                <div><img src="/images/picto/phone.png" alt="телефон"></div>
                    <p>8 (800) 888-77-77</p>
            </div>
            <div class="containerMain__block--picto">
                <div><img src="/images/picto/mail.png" alt="почта"></div>
                    <p>order@equalizer.com</p>
            </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>