<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Эквалайзер - Оплата и доставка</title>
</head>
<body>
<section>
    <div class="containerMain">
        <div class="containerMain__block">
            <div class="containerMain__block--text">
                <h1>Оплата</h1>
                <div class="containerMain__block--image"><img src="/images/pay.png" alt="оплата"></div>
                <ul>
                    <li><strong>Наличными</strong> - оплата производится в рублях, при получении заказа;</li>
                    <li><strong>Банковской картой</strong> - через терминал или Систему быстрых платежей (СБП);</li>
                    <li><strong>Безналичный расчет</strong> - только для юридических лиц. Оплата производится с расчетного счета юридического лица по выставленному счету.</li>
                </ul>
            </div>
                <div class="containerMain__block--text">
                    <h1>Доставка</h1>
                <div class="containerMain__block--image"><img src="/images/delivery.jpg" alt="доставка"></div>
                <ul>
                    <li>Доставка осуществляется с 10:00 до 20:00;</li>
                    <li>При подтверждении заказа менеджером, Вы можете озвучить свои пожелания, например, возможность срочной доставки, и если это будет возможно, менеджер предоставит подробную информацию;</li>
                    <li>При самовывозе заказанный товар резервируется на один день с момента подтверждения заказа. В отдельных случаях бронь невозможна, уточняйте у менеджера. По прошествии данного срока заказ аннулируется;</li>
                    <li>Изменение адреса доставки в день доставки невозможно;</li>
                    <li>В случае отказа от товара услуги курьера оплачиваются полностью;</li>
                    <li>Транспортировка товара весом менее 5 кг обратно в магазин для возврата/обмена производится клиентом самостоятельно;</li>
                    <li>В случае, если во время доставки курьер не может до Вас дозвониться, доставка автоматически отменяется. Вы можете связаться с нами для возобновления заказа и оформления повторной доставки;</li>
                    <li>Доставка и выдача заказов курьером невозможна на улице, в метро или около метро. В целях безопасности доставка осуществляется исключительно на рабочий или домашний адрес. Служба безопасности оставляет за собой право отказать в доставке без объяснения причин.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>