<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Редактирование категории</title>
</head>
<body>
<section>
    <div class="container__form">
        <div class="container__form--block">
            <div class="form-name" th:text="${good.name}">Товар</div>
            <form action="/admin/updateGoodItem" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${good.id}">
                <table>
                    <th:block th:if="${session.successMsg}">
                        <tr>
                            <td colspan="2" class="info-success" th:text="${session.successMsg}">Успешно</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${session.errorMsg}">
                        <tr>
                            <td colspan="2" class="info-error" th:text="${session.errorMsg}">Неуспешно</td>
                        </tr>
                    </th:block>
                    <tr>
                        <td>Категория:</td>
                        <td>
                            <select name="category" required>
                                <option th:value="${good.category}" th:text="${good.category}"></option>
                                <th:block th:each="currentCategory : ${@categoryService.findAllCategory()}">
                                    <option th:value="${currentCategory.name}" th:text="${currentCategory.name}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Артикул:<span class="symbol-comment">*</span></td>
                        <td><input type="text" name="partNumber" required th:value="${good.partNumber}"></td>
                    </tr>
                    <tr>
                        <td>Название:<span class="symbol-comment">*</span></td>
                        <td><input type="text" name="name" required th:value="${good.name}"></td>
                    </tr>
                    <tr>
                        <td>Бренд:</td>
                        <td><input type="text" name="brand" th:value="${good.brand}"></td>
                    </tr>
                    <tr>
                        <td>Вес:</td>
                        <td><input type="text" name="weight" th:value="${good.weight}"></td>
                    </tr>
                    <tr>
                        <td>Ширина:</td>
                        <td><input type="text" name="width" th:value="${good.width}"></td>
                    </tr>
                    <tr>
                        <td>Длина:</td>
                        <td><input type="text" name="length" th:value="${good.length}"></td>
                    </tr>
                    <tr>
                        <td>Высота:</td>
                        <td><input type="text" name="height" th:value="${good.height}"></td>
                    </tr>
                    <tr>
                        <td>Доступно на складе:</td>
                        <td><input type="number" name="count" th:value="${good.count}"></td>
                    </tr>
                    <tr>
                        <td>Цена:</td>
                        <td><input type="number" name="price" th:value="${good.price}"></td>
                    </tr>
                    <tr>
                        <td>Изображение:</td>
                        <td class="table-td-image"><img th:src="@{'/images/goods/' + ${good.image}}"></td>
                    </tr>
                    <tr>
                        <td>Новое изображение:</td>
                        <td>
                            <label class="input-file">
                                <input type="file" name="file" id="file">
                                <span class="input-file-button">Выберите файл</span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span id="choose_file"></span>
                            <script src="/scripts/image.js"></script>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Описание:</td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea name="description" cols="45" rows="12" th:text="${good.description}"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp</td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="input-file-button btn-large">Обновить</button></td>
                    </tr>
                </table>
                <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
            </form>
        </div>
    </div>
</section>
</body>
</html>